<!DOCTYPE html>
<html>
  <head>
    <title>FeatureToggles</title>
    <%= csrf_meta_tags %>

    <%= javascript_pack_tag 'feature_toggles/index' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
